.navbar {
  padding: 0.5rem;
  border-radius: 100px;
  height: 100%;
  background-color: #2c3e50;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;

    li {
      width: 100%;
    }
  }

  svg {
    width: 100%;
    height: auto;
  }

  &__menu {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;
    opacity: 0.8;
  }

  &__link {
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;

    svg {
      max-width: 1.5rem;
      max-height: 1.5rem;
      margin-left: 6px;
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      filter: brightness(1.05);
      background-color: #455d75;
      border-left: 3px solid #feb221;

      svg {
        margin-left: 3px;
      }
    }

    &.active svg path {
      fill: #feb221;
    }
  }

  &__toggleBtn {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.8;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
      background-color: #455d75;

      path {
        fill: #feb221;
      }
    }
  }
}
